<div class="row">
    <div class="col-3 p-0 m-0">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-9 p-4 m-0">

      <h1 class="title">Classe</h1>

      <!-- Informations sur la classe -->
      <div class="float-right info">
        <table class="table w-50">
          <thead class="thead-light">
          <tr>
            <th scope="col">Cycle</th>
            <th scope="col">Annee</th>
            <th scope="col">Filiere</th>
            <th scope="col">Groupe</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td> {{ this.classe.cycle }} </td>
            <td> {{ this.classe.annee }} </td>
            <td> {{ this.classe.filiere }} </td>
            <td> {{ this.classe.groupe }} </td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- Liste des Etudiants -->
      <div class="w-100">
        <table class="table w-100">
          <thead class="thead-light">
          <tr>
            <th scope="col">CNE</th>
            <th scope="col">Nom Complet</th>
            <th scope="col">Absences</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let etudiant of etudiants">
            <td> {{ etudiant.cne }} </td>
            <td> {{ etudiant.nom }} </td>
            <td>
              <div *ngFor="let absence of etudiant.absences">
                Prof: <b>{{ absence.nomProfesseur }}</b>; Module: <b>{{ absence.nomModule }}</b>;
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
